*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif !important; 
}

.shadow-md{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

header, footer{
    background-color: #ba1416;
}

.fa-bars{
    color: white;
}

nav .iconos-mobile i{
    color: white;
}

nav button:focus{
    outline: none;
}

nav #menu-productos:hover{
    display: flex;
}

nav .dropdown-item a{
    font-size: 15px;
}

nav .dropdown-item:hover{
    background-color: #ba1416;
}

nav .dropdown-item a:hover{
    color: white;
    text-decoration: underline white;
}

nav .dropdown-menu{
    background-color: #ba1416 !important;
    width: 490px;
    padding-top: 22px;
    border: none;
}

nav .dropdown-menu a{
    color: white;
}

nav .dropdown-menu a:hover{
    text-decoration: none;
}

nav .dropdown-menu .titcate a{
    font-weight: 500;
    text-transform: uppercase;
}

.carousel.pointer-event {
    touch-action: pan-y;
}

.logo {
    width: 210px;
}

/* Inicio Preload */
.hidden{
    overflow: hidden;
}

.centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ba1416;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* Fin Preload */

header nav li a{
    color: white;
    font-weight: 500;
    font-size: 19px;
}

header nav li a:hover{
    color: white;
}

header nav .active{
    text-decoration: underline #ba1416 3px;
    text-underline-position: under;
}

header .icono-carrito{
    color: white;
    font-size: 30px;
}

header .carrito-nro-items{
    color: black;
    background-color: white;
    padding: 2px 6px;
    border-radius: 14px;
    position: relative;
    vertical-align: text-bottom;
    font-weight: bold;
}

header .container-fluid{
    border-bottom: 2px solid black;
}

.carousel-item img{
    width: 100%;
}

footer .container-fluid{
    border-top: 2px solid black;
}

footer .iconos{
    font-size: 30px; 
    color: white;
}

footer p{
    font-size: 12px;
    color: white;
    font-weight: 400;
}

.row{
    margin-right: 0px !important;
}

#inicio .destacados h2, #inicio .nuevos h2, #empresa h1, #contacto h1{
    font-size: 17px;
    color: white;
    background-color: #ba1416;
    border-radius: 0px 50px 50px 0px;
}

#inicio .destacados h2{
    padding: 7px 48px 7px 42px;
}

#inicio .nuevos h2{
    padding: 7px 112px 7px 42px;
}

#inicio .container-fluid, #empresa .container-fluid, #contacto .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#inicio .destacados p{
    font-weight: 500;
}

#inicio .card, #productos .card{
    width: 200px;
    padding: 10px;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}

#inicio .card a, #productos .card a{
    text-decoration: none;
    color: black;
}

#inicio .card img, #productos .card img{
    background-color: #343a401c;
}

#inicio .card p, #productos .card p{
    font-size: 12px;
    font-weight: normal;
}

#inicio .card .precio, #productos .card .precio{
    font-size: 16px;
    font-weight: 500 !important;
}

#inicio .card .btn, #productos .card .btn{
    background-color: #ba1416;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

#inicio .card .btn:hover, #productos .card .btn:hover{
    background-color: #ff0004;
}

#inicio .card:hover, #productos .card:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.175) !important;
}

#inicio .div-card{
    text-align: -webkit-center;
}

#inicio .carousel-indicators :not(.active){
    background-color: lightgrey;    
}

#inicio .carousel-indicators .active{
    background-color: black;    
}

#productos .filtro-top{
    background-color: #ba1416;
    color: white;
}

#productos .div__filtros{
    background-color: rgb(247, 247, 247);
}

#productos .div__filtros p{
    font-size: 13px;
}

#productos .row{
    margin-left: 0;
}

#productos .div__categoria, #productos .div__subcategoria, #productos .div__material{
    background-color: rgb(247, 247, 247);
}

#productos .lblCategoria, #productos .lblSubcategoria, #productos .lblMaterial{
    background-color: #ba1416;
    color: white;
}

#productos #navbarsFiltros p{
    font-size: 14px !important;
}

#producto h1, #producto h2{
    font-size: 22px;
}

#producto .div-comprar div, #producto .div-h1, #producto .div-specs{
    background-color: rgb(247, 247, 247);
}

#producto .fa-plus, #producto .fa-minus{
    font-size: 18px;
    color: white;
}

#producto .carousel{
    text-align: -webkit-center;
}

#producto .carousel-item{
    height: auto;
    width: 300px;
}

#producto .div-comprar button{
    background-color: #ba1416;
}

#producto .div-comprar button:hover{
    background-color: #ff0004;
    text-decoration: none;
}

#producto .precio{
    font-size: 32px;
    font-weight: 400;
}

#producto .div-specs-text p{
    font-size: 14px;
}

#empresa h1{
    padding: 7px 50px;
}

#empresa main p{
    text-align: justify;
    font-size: 14px;
}

#contacto main{
    height: 77.6vh;
}

#contacto h1{
    padding: 7px 46px;
}

#contacto main img{
    max-width: 70px;
}

#contacto main p{
    font-weight: 500;
    font-size: 16px;
    vertical-align: text-bottom;
}

#contacto main i{
    font-size: 34px;
    color: #ba1416;
}

#contacto main a{
    color: black;
}

#contacto main a:hover{
    color: black;
    text-decoration: none;
}

#contacto input, #contacto textarea{
    width: -webkit-fill-available;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    resize: none;
}

#contacto input::placeholder, #contacto textarea::placeholder{
    font-size: 13px;
}

#contacto input:active{
    border: none !important;
}

#contacto textarea{
    height: 250px;
}

#contacto .submit{
    border-radius: 20px;
    padding: 7px 38px;
}

#contacto .submit, #producto .comprar{
    color: white;
    background-color: #ba1416;
    font-size: 15px;
    font-weight: 600;
}

#producto .comprar{
    padding: 7px 79px;
}

#contacto .submit:hover{
    background-color: #ff0004;
}


/* Resolucion Tablet -sm */
@media (min-width: 768px) and (max-width: 991px){
    header nav li a{
        font-size: 12px !important;
    }

    nav .icono-carrito{
        font-size: 22px;
    }

    nav .carrito-nro-items{
        font-size: 12px;
    }
    
    #producto .comprar{
        padding: 7px 14px !important;
    }

    #productos .card{
        width: 141px;
    }

    #productos input{
        width: 11px;
    }

    #productos .card .btn{
        font-size: 13px;
    }

    #productos #navbarsFiltros p {
        font-size: 12px !important;
    }
}

/* Resolucion Desktop -md */
@media (min-width: 992px) and (max-width: 1199px){
    header nav li a{
        font-size: 16px !important;
    }  

    #producto .comprar{
        padding: 7px 34px !important;
    }

    #productos .card{
        width: 164px;
    }

    #productos #navbarsFiltros p {
        font-size: 12px !important;
    }
}

/* Resolucion Mobile */
@media (max-width: 767px){
    nav .dropdown-menu{
        width: auto !important;
        border: 0.1px white solid;
    }

    header nav li a{
        font-size: 12px !important;
    } 

    p{
        font-weight: normal !important;    
        font-size: 12px;
    }

    h1, h2{
        font-size: 15px !important;
        padding-left: 15px !important;
    }

    .destacados h2{
        font-size: 12px !important;
        padding-right: 17px !important;
    }

    .nuevos h2{
        font-size: 12px !important;
        padding-right: 62px !important;
    }

    h1{
        padding-right: 91px !important;
    }

    #producto h1{
        padding-right: 0 !important;
    }

    #inicio .carousel-control-next,#inicio .carousel-control-prev{
        width: 20% !important;
    }

    #inicio .card{
        width: 180px;
    }

    #inicio .card .btn {
        font-size: 13px;
    }

    #contacto h1{
        padding-right: 73px !important;
    }

    #contacto main{
        height: auto;
    }

    #contacto main img{
        width: 40px !important;
    }

    #contacto main p{
        font-weight: normal !important;
        font-size: 14px !important;
    }

    footer p{
        font-weight: normal;
        font-size: 12px;
    }

    footer .logo{
        width: 125px;
    }

    #empresa main p{
        font-size: 12px;
    }

    #empresa iframe{
        width: auto;
        height: 300;
    }

    #producto .div-comprar{
        position: initial;
    }

    #producto .carousel-item{
        width: 220px;
    }

    #producto .div-comprar p{
        font-size: 20px;
        font-weight: 500 !important;
    }

    #producto .comprar{
        width: 100%;
    }

    #producto .div-specs-text p{
        font-size: 12px;
    }
}